node-red/flow
[{"id":"7f92d2a3.54a204","type":"ui_template","z":"36290559.9d64ba","group":"f3ca6cc.b9ec81","name":"ui","order":0,"width":"30","height":"15","format":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\">\n        <title>Title of the document</title>\n        <style>\n\t\t\tbody {\n\t\t\t\tbackground-color: #2f3741;\n\t\t\t\tfont-family: Arial, Helvetica, sans-serif;\n\t\t\t\tletter-spacing: 0px;\n\t\t\t\tword-spacing: 1px;\n\t\t\t}\n\t\t\t.container{\n\t\t\t    padding-top: 50px;\n\t\t\t\tbackground-size: cover;\n\t\t\t\tbackground: rgb(226,226,226); /* Old browsers */\n\t\t\t\tbackground: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */\n\t\t\t\tbackground: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */\n\t\t\t\tbackground: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */\n\t\t\t\tbackground: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */\n\t\t\t\tbackground: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */\n\t\t\t\tbackground: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */\n\t\t\t\tfilter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */\n\t\t\t\twidth: 100%;\n\t\t\t\theight: 700px;\n\t\t\t}\n\n\t\t\t.container-left{\n\t\t\t\twidth: 70%;\n\t\t\t\tfloat: left;\n\t\t\t}\n\n\t\t\t.container-right {\n\t\t\t\twidth: 30%;\n\t\t\t\tfloat: right;\n\t\t\t}\n\n\t\t\t.content {\n\t\t\t\tpadding: 10px;\n\t\t\t\tpadding-left: 30px;\n\t\t\t}\n\n\t\t\th1 {\n\t\t\t    padding-top: 60px;\n\t\t\t\tcolor: #143D77;\n\t\t\t\tfont-weight: 400;\n\t\t\t\ttext-decoration: none;\n\t\t\t\tfont-style: normal;\n\t\t\t\tfont-variant: normal;\n\t\t\t\ttext-transform: none;\n\t\t\t}\n\n\t\t\th2 {\n\t\t\t\tcolor: #000000;\n\t\t\t\tfont-weight: 400;\n\t\t\t\ttext-decoration: none;\n\t\t\t\tfont-style: normal;\n\t\t\t\tfont-variant: normal;\n\t\t\t\ttext-transform: none;\n\t\t\t}\n\n\t\t\t.p-zustand {\n\t\t\t\tfont-size: 60px;\n\t\t\t\tletter-spacing: 0px;\n\t\t\t\tword-spacing: 1px;\n\t\t\t\tcolor: #143D77;\n\t\t\t\tfont-weight: 400;\n\t\t\t\ttext-decoration: none;\n\t\t\t\tfont-style: normal;\n\t\t\t\tfont-variant: normal;\n\t\t\t\ttext-transform: none;\n\t\t\t}\n\n\n\t\t\t/*\n\t\t\t.led-box {\n\t\t\t\theight: 30px;\n\t\t\t\twidth: 25%;\n\t\t\t\tmargin: 10px 0;\n\t\t\t\tfloat: left;\n\t\t\t}*/\n\n\t\t\t.led-box p {\n\t\t\t    color: #143D77;\n\t\t\t    font-size: 20px;\n\t\t\t\ttext-align: center;\n\t\t\t\tmargin: 1em;\n\t\t\t}\n\n\t\t\t#led-red {\n\t\t\t\tmargin: 0 auto;\n\t\t\t\twidth: 120px;\n\t\t\t\theight: 120px;\n\t\t\t\tbackground-color: #A00;\n\t\t\t\tborder-radius: 50%;\n\t\t\t\tbox-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;\n\n\t\t\t}\n\n\t\t\t.blink-red {\n\n\t\t\t\t-webkit-animation: blinkRed 0.5s infinite;\n\t\t\t\t-moz-animation: blinkRed 0.5s infinite;\n\t\t\t\t-ms-animation: blinkRed 0.5s infinite;\n\t\t\t\t-o-animation: blinkRed 0.5s infinite;\n\t\t\t\tanimation: blinkRed 0.5s infinite;\t\t\t\t\n\t\t\t}\n\n\t\t\t@-webkit-keyframes blinkRed {\n\t\t\t\tfrom { background-color: #F00; }\n\t\t\t\t50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}\n\t\t\t\tto { background-color: #F00; }\n\t\t\t}\n\t\t\t@-moz-keyframes blinkRed {\n\t\t\t\tfrom { background-color: #F00; }\n\t\t\t\t50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}\n\t\t\t\tto { background-color: #F00; }\n\t\t\t}\n\t\t\t@-ms-keyframes blinkRed {\n\t\t\t\tfrom { background-color: #F00; }\n\t\t\t\t50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}\n\t\t\t\tto { background-color: #F00; }\n\t\t\t}\n\t\t\t@-o-keyframes blinkRed {\n\t\t\t\tfrom { background-color: #F00; }\n\t\t\t\t50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}\n\t\t\t\tto { background-color: #F00; }\n\t\t\t}\n\t\t\t@keyframes blinkRed {\n\t\t\t\tfrom { background-color: #F00; }\n\t\t\t\t50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}\n\t\t\t\tto { background-color: #F00; }\n\t\t\t}\n\n\t\t\t#led-yellow {\n\t\t\t\tmargin: 0 auto;\n\t\t\t\twidth: 120px;\n\t\t\t\theight: 120px;\n\t\t\t\tbackground-color: #AA0;\n\t\t\t\tborder-radius: 50%;\n\t\t\t\tbox-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;\n\n\t\t\t}\n\n\t\t\t.blink-yellow {\n\t\t\t\t-webkit-animation: blinkYellow 1s infinite;\n\t\t\t\t-moz-animation: blinkYellow 1s infinite;\n\t\t\t\t-ms-animation: blinkYellow 1s infinite;\n\t\t\t\t-o-animation: blinkYellow 1s infinite;\n\t\t\t\tanimation: blinkYellow 1s infinite;\t\t\t\t\n\t\t\t}\n\n\t\t\t@-webkit-keyframes blinkYellow {\n\t\t\t\tfrom { background-color: #FF0; }\n\t\t\t\t50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }\n\t\t\t\tto { background-color: #FF0; }\n\t\t\t}\n\t\t\t@-moz-keyframes blinkYellow {\n\t\t\t\tfrom { background-color: #FF0; }\n\t\t\t\t50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }\n\t\t\t\tto { background-color: #FF0; }\n\t\t\t}\n\t\t\t@-ms-keyframes blinkYellow {\n\t\t\t\tfrom { background-color: #FF0; }\n\t\t\t\t50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }\n\t\t\t\tto { background-color: #FF0; }\n\t\t\t}\n\t\t\t@-o-keyframes blinkYellow {\n\t\t\t\tfrom { background-color: #FF0; }\n\t\t\t\t50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }\n\t\t\t\tto { background-color: #FF0; }\n\t\t\t}\n\t\t\t@keyframes blinkYellow {\n\t\t\t\tfrom { background-color: #FF0; }\n\t\t\t\t50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }\n\t\t\t\tto { background-color: #FF0; }\n\t\t\t}\n\n\t\t\t#led-green {\n\t\t\t\tmargin: 0 auto;\n\t\t\t\twidth: 120px;\n\t\t\t\theight: 120px;\n\t\t\t\tborder-radius: 50%;\n\t\t\t\tbox-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;\n\t\t\t}\n\n\t\t\t.green-on {\n\t\t\t\tbackground-color: #ABFF00;\n\t\t\t}\n\n\t\t\t.green-off {\n\t\t\t\tbackground-color: #71a704; \n\t\t\t}\n\n        </style>\n    </head>\n    <body>\n\t\t<div class=\"container\">\n\t\t\t<div class=\"container-left\">\n\t\t\t\t<div class=\"content\">\n\t\t\t\t\t<h1>Condition-Monitoring mit Softsensoren</h1>\n\t\t\t\t\t<h2>Mit RMG/941 und MLS/160A als Softsensor Maschinen und Anlagen überwachen!</h2>\n\t\t\t\t\t<p>&nbsp;</p>\n\t\t\t\t\t<p>&nbsp;</p>\n\t\t\t\t\t<p class=\"p-zustand\">Zustand der Maschine:</p>\n\t\t\t\t\t<!--<h1>{{msg.payload}}</h1>-->\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t<div class=\"container-right\">\n\t\t\t\t<div class=\"content\">\n\t\t\t\t\t<div class=\"led-box\">\n\t\t\t\t\t\t<div id=\"led-green\"></div>\n\t\t\t\t\t\t<p class=\"\">in Ordnung</p>\n\t\t\t\t    </div>\n\t\t\t\t\t<div class=\"led-box\">\n\t\t\t\t\t\t<div id=\"led-yellow\" class=\"blink-yellow\"></div>\n\t\t\t\t\t\t<p class=\"\">Stillstand</p>\n\t\t\t\t  </div>\n\t\t\t\t  <div class=\"led-box\">\n\t\t\t\t\t\t<div id=\"led-red\" class=\"blink-red\"></div>\n\t\t\t\t\t\t<p class=\"\">Fehler</p>\n\t\t\t\t  </div>\n\t\t\t\t</div>\n\t\t\t</div>\n\t\t</div>\n        <script>\n            (function(scope) {\n                scope.$watch('msg.payload', function(data) {\n                    //console.dir(data);\n                    var status = data;\n                    \n                    if(status == 1){\n\n                        var r = document.getElementById(\"led-red\");\n                        var y = document.getElementById(\"led-yellow\");\n                        var g = document.getElementById(\"led-green\");\n                        \n                        g.classList.remove(\"green-on\");\n                        g.classList.add(\"green-off\");  \n                        r.classList.remove(\"blink-red\");\n                        y.classList.add(\"blink-yellow\");\n                        \n                    }else if(status == 0){\n\n                    \tvar r = document.getElementById(\"led-red\");\n                        var y = document.getElementById(\"led-yellow\");\n                        var g = document.getElementById(\"led-green\");\n                        \n                        g.classList.add(\"green-on\");\n                        g.classList.remove(\"green-off\");\n                        r.classList.remove(\"blink-red\");\n                        y.classList.remove(\"blink-yellow\");\n\n                    }else if(status == -1 || status == 2){\n\n                    \tvar r = document.getElementById(\"led-red\");\n                        var y = document.getElementById(\"led-yellow\");\n                        var g = document.getElementById(\"led-green\");\n                        \n                        g.classList.remove(\"green-on\");\n                        g.classList.add(\"green-off\");  \n                        y.classList.remove(\"blink-yellow\");\n                        r.classList.add(\"blink-red\");                    \t\n                    }\n                });\n            })(scope);\n        </script>\n    </body>\n</html>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":510,"y":80,"wires":[[]]},{"id":"c9ffdfa2.77ffe8","type":"mqtt in","z":"36290559.9d64ba","name":"","topic":"","qos":"0","broker":"8d382457.e5d79","x":230,"y":80,"wires":[["7f92d2a3.54a204","59a3db13.1e96e4"]]},{"id":"59a3db13.1e96e4","type":"debug","z":"36290559.9d64ba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":140,"wires":[]},{"id":"f3ca6cc.b9ec81","type":"ui_group","z":"","name":"Default","tab":"d4638ef4.79b71","disp":false,"width":"30","collapse":false},{"id":"8d382457.e5d79","type":"mqtt-broker","z":"","name":"","broker":"","port":"","tls":"16057698.44dba9","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d4638ef4.79b71","type":"ui_tab","z":"","name":"home","icon":"dashboard","order":1},{"id":"16057698.44dba9","type":"tls-config","z":"","name":"aws","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":true}]
